@media screen and (max-width: 1200px) and (min-width: 1150px) {
    .tariffs-and-costs .table-wrapper h2 {
        padding-right: 700px;
    }
}

@media screen and (max-width: 1150px){
    .table-wrapper .table-row-title {
        grid-column: 1 / 5;
        padding: 30px 30px 10px 30px;
    }

    .tariffs-and-costs-title,
    .popular-tariff {
        display: none;
    }

    .table-wrapper {
        grid: 34px / repeat(3, minmax(90px, 344px));
    }

    .tariffs-and-costs {
        grid: 40px 1fr 100px / repeat(3, 1fr);
    }

    .table-sticky-header {
        grid: 130px / repeat(3, minmax(90px, 344px));
        grid-area: 1 / 1 / 2 / 4;
    }

    .table-wrapper .table-row-title:after {
        display: none;
    }

    .table-wrapper .first-check:after {
        left: 100%;
        transform: translateX(-100%);
    }

    .table-wrapper .third-check:after {
        left: 0;
    }

    .table-wrapper .first-check:after,
    .table-wrapper .third-check:after {
        width: 88%;
    }

    .table-wrapper .tariff-title {
        bottom: calc(100% + 89px);
    }

    .table-wrapper .second-tariff {
        bottom: calc(100% + 70px);
        border-radius: 12px 12px 0 0;
        z-index: 1;
        height: 214px;
        box-shadow: 0 0 50px -22px #000;
    }

    .table-wrapper > h2:first-child {
        position: relative;
        z-index: 3;
        background-color: #fff;
        padding: 21px 30px 0 30px;
        box-shadow: 0 -23px 41px -15px #000;
        border-radius: 20px 20px 0 0;
    }

    .empty-space {
        display: none;
    }
}

@media screen and (max-width: 1120px) {
    .calculator {
        padding: 100px 30px;
    }
}

@media screen and (max-width: 958px) {
    .designations > p:before {
        top: 27%;
    }
}

@media screen and (max-width: 768px) {
    .table-sticky-header {
        width: calc(100% + 60px);
        transform: translateX(-30px);
        padding: 0 30px;
    }
}

@media screen and (max-width: 700px) {
    .table-wrapper > .check {
        white-space: normal;
        text-align: center;
    }
}

@media screen and (max-width: 591px) {
    .table-control-btns {
        flex-direction: column;
    }

    .table-wrapper .tariff-title > h3 {
        font-size: 18px;
    }

    .table-wrapper .tariff-title > .tariff-price {
        font-size: 17px;
    }

    .table-wrapper .tariff-title > .tariff-period {
        font-size: 12px;
    }
}

@media screen and (max-width: 558px) {
    .table-control-btns {
        flex-direction: column;
    }
}

@media screen and (max-width: 548px) {
    .table-wrapper .table-row-title.first-row {
        padding: 60px 30px 10px 30px;
    }

    .table-wrapper .tariff-title {
        bottom: calc(100% + 100px);
    }

    .table-wrapper .second-tariff {
        bottom: calc(100% + 73px);
    }
}

@media screen and (max-width: 500px) {
    .table-wrapper .tariff-title {
        bottom: calc(100% + 64px);
    }

    .table-wrapper .tariff-title {
        bottom: calc(100% + 95px);
    }

    .table-wrapper .second-tariff {
        bottom: calc(100% + 72px);
    }

    .table-wrapper .table-row-title > div,
    .table-wrapper > .check {
        font-size: 15px;
    }
}

@media screen and (max-width: 488px) {
    .table-wrapper .tariff-title > .tariff-period > .info-mark {
        background: url(info.svg) no-repeat center / contain;
    }

    .table-wrapper .tariff-title > .tariff-period > .info-mark,
    .table-sticky-header .tariff-title > .tariff-period > .info-mark {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 485px) {
    .table-wrapper .tariff-title > h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .form-inputs-wrapper {
        grid: repeat(2, 1fr) / 1fr;
    }

    .form-inputs-wrapper .calc-form-field,
    .form-btn {
        width: 100%;
        max-width: initial;
    }

    .form-btns-wrapper {
        flex-direction: column;
    }

    .table-wrapper .table-row-title > div,
    .table-wrapper > .check {
        font-size: 14px;
    }
}

@media screen and (max-width: 458px) {
    .table-wrapper .tariff-title > h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 426px) {
    .table-wrapper .tariff-title {
        bottom: calc(100% + 124px);
    }

    .table-wrapper .second-tariff {
        bottom: calc(100% + 93px);
    }
}

@media screen and (max-width: 376px) {
    .table-wrapper .tariff-title {
        bottom: calc(100% + 130px);
    }

    .table-wrapper .tariff-title > .tariff-price {
        font-size: 15px;
    }
}